<form action="/names" method="post">
	<div>
		<label for="Player 1">Player_1</label>
		<input type="text" name="player_1">
	</div>
	<div>
		<label for="Player_2">Player_2</label>
		<input type="text" name="player_2">
	</div>
	<div>
		<input type="submit" value="Submit">
	</div>
</form>